#gitignore for go
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.test
*.test~
*.prof
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz4
*.tar.sz
*.tar
*.tgz
*.bz2
*.rar
*.zip
*.7z
*.gz
*.lz4
*.lzma
*.sz
*.xz
*.zst
*.tz
*.iso
*.nupkg
*.whl
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
*.sqlite3
*.sql
*.sqlite3-journal
*.sqlite-journal
*.bak
*.swp
*.swo
*.swn
*.swo
*.swn
*.swm

*.exe
.env